/*  your css code here. If applicable */
.pricing-card{
	border:1px solid#ccc;
	border_radius:5px;
	box_shadow:0 2px 5px rgba(0, 0, 0, 0.1);
	padding:20px;
	text-align:center;
	max-width:300px;
	margin:0 auto;
	
}
.pricing-card h1{
	color:#333;
	font-size:34px;
	margin-bottom:10px;
	
}
.price{
	color:#333;
	font-size:18px;
	font-weight:bold;
	
}
.btn{
	display:inline-block;
	background-color:red;
	color:white;
	padding:10px 20px;
	text-decoration:none;
	border-radius:10px;
	
	
	
}